p {
  font-family: "Muli";
  text-shadow: 2px 1px #1b3440;
  color: #fff;
}

body {
  background: #4a849f !important;
}
h1,
h2,
h3 {
  color: #f5f1d5;
  font-family: "Philosopher";
  text-shadow: 2px 1px #1b3440;
}
.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bg-custom {
  background-color: #1b3440;
}
.nav-custom {
  color: #f5f1d5;
  font-family: "Philosopher";
}
.nav-custom:hover {
  color: #fff;
}

.textbox-custom {
  box-shadow: 2px 1px #1b3440;
  border: 0px;
}

.btn-custom {
  background-color: #fff;
  border: 0px;
  color: #919191;
  box-shadow: 2px 1px #1b3440;
}

.btn-key {
  color: #fbc531;
}
.btn-del {
  color: #f2845c;
}
.right {
  text-align: right;
}

.form-text {
  color: white;
  text-shadow: 2px 1px 0px rgba(27, 52, 64, 0.5);
}
