p {
  font-family: "Muli";
}
.landing {
  position: relative;
  background-color: #4a849f;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.bg-custom {
  background-color: #1b3440;
}
.nav-custom {
  color: #f5f1d5;
  font-family: "Philosopher";
}
.nav-custom:hover {
  color: #fff;
}
.header-custom {
  color: #f5f1d5;
  font-family: "Philosopher";
}

.btn-custom {
  background-color: #fff;
  border: 1px solid #ced4da;
  color: #919191;
}

.btn-key {
  color: #fbc531;
}
.btn-del {
  color: #f2845c;
}
.right {
  text-align: right;
}
